PORT=3000
SCOPES='["https://www.googleapis.com/auth/userinfo.profile","https://www.googleapis.com/auth/userinfo.email","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly", "https://www.googleapis.com/auth/gmail.labels"]'

PUBSUB_TOPIC=projects/<your_project>/topics/<your_topic>
client_id=
client_secret=
redirect_uri=

OPENAI_API=